h1{
    color:orange
}
#mainHeading{
    color:red;
    font-size:30px;
    text-align:center;
    background-color:skyblue
}
.card{
    height:440px;
    width:25%;
    background-color:#5c4e58;
    float: left;
    margin-left:7%;
    overflow:scroll
}
.cardHeading{
    color:white;
    text-align: center;
}
.cardImage{
    width:100%;
    height:200px
}
.purple{
    background-color:#A980DE;
}
.pink{
    background-color:rgb(236, 136, 178)
}