.main{
    display: inline-block;
    width:100%
}

.tileImage{
    height: 550px;
    width:48%;
    float: left;
}



.tileContent{
    height: 550px;
    width:50%;
    margin-left: 2%;
    float: left;
}

.imageClass > img{
    height: 500px;
    width:95%;
    margin-left: 3%;
    margin-top: 3%;
}


#cfeedback{
    margin-left:3%;
    color:green
}

.icons{
    display: inline-block;
    margin-left:2%
}
.icons >img{
    width: 120px;
    height:120px;
}

#stock{
    font-size: 30px;
    color:green
}

.button{
    height:48px;
    width:250px;
    font-size:20px;
}
#Atoc{
    background-color:green
}