body{
    margin:auto;
    background-color: #cfcdcc;
}
/* Header Css */
#header{
    height: 60px;
    background-color: #e09c83;
}

#icon{
    margin-left: 1%;
    margin-top:-1%;
    position: absolute;
    color:#fff !important;
}

#social{
    float: right;
    margin-right: 1%;
}

a{
    text-decoration: none;
}

.slogo{
    height:50px;
    width:50px;
}

#mainContainer{
    width:85%;
    height:600px;
    margin-left: 7%;
    margin-top: 4%;
    margin-bottom: 2%;
}

.imageContainer{
    width:45%;
    height:400px;
    border:4px groove gray;
    float: left;
}

.imageContainer > img {
    width:100%;
    height:400px;
}
.contentContainer{
    width:50%;
    height:600px;
    margin-left: 2%;
    float: left;
    margin-top: -2%;
}

.fa-swimming-pool{
    font-size:30px;
    color:blue
}

.checked{
    color:red
}

.imgIcon{
    height:100px;
    width:100px;
    margin-left:2%
}